<div class="container">

    <div class="form">
        <div class="col-3">
            <input (change)="changeFilter(animeSearch)" [(ngModel)]="animeSearch" type="text" class="form-control" placeholder="Search an movie" aria-describedby="search an movie">
        </div>
    </div>

    <div class="grid-movies" *ngIf="animeSearch != null || animeSearch != ''">
        <div class="card" *ngFor="let movie of movieOnly">
            <img src={{movie.movie_banner}} class="card-img-top">
            <div class="card-body d-flex flex-column align-items-start">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text"><b>Director:</b> {{ movie.director }}</p>
              <p class="card-text"><b>Producer:</b> {{ movie.producer }}</p>
              <p class="card-text"><b>Year:</b> {{ movie.release_date }}</p>
              <a (click)="redirect(movie.id)" class="btn btn-dark mt-auto">Ver detalhes</a>
            </div>
        </div>
    </div>
    <div class="grid-movies" *ngIf="animeSearch == null || animeSearch == ''">
        <div class="card" *ngFor="let movie of allMovies">
            <img src={{movie.movie_banner}} class="card-img-top">
            <div class="card-body d-flex flex-column align-items-start">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text"><b>Director:</b> {{ movie.director }}</p>
              <p class="card-text"><b>Producer:</b> {{ movie.producer }}</p>
              <p class="card-text"><b>Year:</b> {{ movie.release_date }}</p>
              <a (click)="redirect(movie.id)" class="btn btn-dark mt-auto">Ver detalhes</a>
            </div>
        </div>
    </div>
</div>